# Nested directory from Mungo's repo: git@github.com:MungoG/relocatability.git
P2786-trivial-relocation

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.t

# Generated draft files
snapshots
[A-OQ-Za-oq-z]*.pdf
[DdPp][0-9][0-9][0-9][0-9].pdf
[DdPp][0-9][0-9][0-9][0-9].html
[Dd][0-9][0-9][0-9][0-9][Rr][0-9].html

# Untracked subdirectories
NinaPapers

# Temp files
*~
~*
\#*
.\#*
*.o
*.s
*.old
*.sav
*.orig
*.2[0-9][01][0-9][0-3][0-9].*
*.2[0-9][01][0-9][0-3][0-9][012][0-9][0-5][0-9].*
.DS_store
tmp.mk
*:Zone.Identifier
